@import './_nestable.css';
@import '@yaireo/tagify/dist/tagify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply fd-w-full fd-h-full fd-bg-zinc-200;
    }

    .toastr {
        @apply fd-w-2/3 md:fd-w-auto fd-flex fd-flex-col fd-gap-2 fd-fixed fd-top-0 fd-left-1/2 -fd-translate-x-1/2 fd-z-50 fd-mt-4;
    }

    .toastr__item {
        @apply fd-py-2 fd-px-4 fd-rounded fd-shadow-lg fd-max-w-md
        fd-bg-white/70 fd-backdrop-blur-sm fd-border fd-border-zinc-50/40
        fd-cursor-pointer fd-transition-all fd-duration-300 fd-ease-in-out fd-opacity-0 -fd-mt-10;
    }

    .toastr__item--born {
        @apply fd-opacity-100 fd-mt-0;
    }

    .drawer {
        @apply fd-bg-zinc-100 fd-min-w-full fd-max-w-[25rem] lg:fd-min-w-[30rem]
        fd-overflow-y-auto fd-fixed fd-z-40 fd-right-0 fd-inset-y-0 fd-p-4
        fd-translate-x-full fd-transition-transform fd-duration-300 fd-ease-in-out fd-space-y-4;
    }

    .drawer--half {
        @apply fd-min-w-max fd-w-2/3;
    }

    .drawer--from-left {
        @apply fd-left-0 fd-right-auto -fd-translate-x-full;
    }

    .drawer--open {
        @apply fd-translate-x-0;
    }

    .drawer__overlay {
        @apply fd-fixed fd-inset-0 fd-bg-black/20 fd-backdrop-blur fd-z-30 fd-opacity-0 fd-transition-all;
    }

    .drawer__overlay--fade-in {
        @apply fd-opacity-100;
    }

    button:disabled {
        @apply fd-opacity-75 fd-pointer-events-none fd-select-none;
    }

    .btn--loading {
        @apply fd-cursor-not-allowed fd-opacity-50 fd-select-none fd-pointer-events-none;
    }

    [data-spinner] {
        @apply fd-hidden;
    }

    .btn--loading [data-spinner] {
        @apply fd-block;
    }

    [data-form-group].fd-has-error input, textarea {
        @apply fd-border-red-500;
    }

    [data-form-group].fd-has-error label {
        @apply fd-text-red-500;
    }
}

#page .ck-editor__editable {
    min-height: 600px;
}

.loading {
    @apply fd-relative;
}

.loading::before {
    @apply fd-content-[''] fd-block fd-absolute fd-inset-0 fd-bg-white/60 -fd-m-2;
}

.loading::after {
    @apply fd-content-[''] fd-absolute fd-w-16 fd-h-16 fd-rounded-full;

    top: calc(50% - 32px);
    left: calc(50% - 32px);
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: spin 1.2s linear infinite;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
